/* Global Styling */

body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  padding: 0;
}

.grid-container {
  height: 100%;
  width: 100% !important;
  /* max-width: 1200px; */
  display: grid;
  grid-template-areas:
    "header header"
    "content foto";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 0;
  /* border: 2px solid orange; */
  margin: 0 auto;
  justify-content: center;
  box-sizing: border-box;
}

.header-saya {
  grid-area: header;
  position: sticky;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 3;
  padding: 0;
  margin: 0 auto;
  background: linear-gradient(135deg, #e9dff3 0%, #cddaf1 100%);
  text-align: center;
  border: 1px solid slateblue;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

main {
  grid-area: content;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.profil-container {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
}
.frame {
  grid-area: foto;
  min-width: 50%;
  width: 100%;
  min-height: 40%;
  height: 70%;
  border: 0px solid #333;
  border-radius: 130px;
  background-color: #f9f9f9;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: hidden;
  position: static;
  flex-direction: column;
}

.frame .foto {
  width: 120%;
  height: 100%;
  object-fit: cover;
  border-radius: 130px;
  object-position: top;
}

.navbar-saya {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* penuh parent */
  padding: 10px;
  background: linear-gradient(135deg, #e9dff3 0%, #cddaf1 100%);
}

.menu-nav {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-nav li a {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.menu-nav li a:hover {
  transform: scale(1.3);
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
  color: blue;
}
.menu-nav li a.active {
  font-weight: bolder;
  color: #0d6efd !important;
  border-bottom: 2px solid #0d6efd !important;
  z-index: 4;
}

@media (max-width: 992px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "header"
      "foto"
      "content"
      "resume";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    /* padding: 10px; */
    border: 2px solid rgb(255, 0, 0);
    height: 100%;
    width: 100% !important;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    box-sizing: border-box;
  }

  .section-resume {
    grid-area: resume;
    width: inherit;
  }
  .header-saya {
    grid-area: header;
    position: sticky;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 3;
    padding: 0;
    margin: 0 auto;
    background: linear-gradient(135deg, #e9dff3 0%, #cddaf1 100%);
    text-align: center;
    border: 1px solid slateblue;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  }

  .navbar-saya {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* penuh parent */
    padding: 10px;
    background: linear-gradient(135deg, #e9dff3 0%, #cddaf1 100%);
  }

  .menu-nav {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-nav li a {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 600;
    color: #000;
    transition: all 0.3s ease-in-out;
  }

  .menu-nav li a:hover {
    transform: scale(1.3);
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
    color: blue;
  }
  .menu-nav li a.active {
    font-weight: bolder;
    color: #0d6efd !important;
    border-bottom: 2px solid #0d6efd !important;
    z-index: 4;
  }
  main {
    grid-area: content;
    width: inherit;
  }
  .frame {
    grid-area: foto;
    min-width: 30%;
    width: 30%;
    min-height: 30%;
    height: 50%;
    border: 0px solid #333;
    border-radius: 130px;
    background-color: #f9f9f9;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    position: static;
    flex-direction: column;
  }
  .frame .foto {
    width: 120%;
    height: 100%;
    object-fit: cover;
    border-radius: 130px;
    object-position: top;
  }
  p,
  span {
    font-size: 16px;
  }
}

.highlight {
  font-style: italic !important;
}

p {
  font-size: 20px;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #333;
  margin-bottom: 3px;
}

span {
  font-size: 20px;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #333;
  margin-bottom: 3px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.nav-link.active {
  font-weight: bold;
  color: #0d6efd !important;
  border-bottom: 2px solid #0d6efd;
}

.icon-text-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Vertikal sejajar */
  gap: 8px; /* Jarak antara icon dan teks */
}
